*{ font-family: arial, sans-serif;
  margin: 0;
}
body,
body > div {
  height: 100vh;
  width: 100vw;
}
#container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
#container > div {
  display: flex;
}
#navbar {
  padding: 2em;
  justify-content: space-evenly;
}
#main-section {
  flex-grow: 1;
}
#main-section > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.red {
  background-color: #a50721;
}
.blue {
  background-color: #275db3;
}

.green {
  background-color: #2f8f15;
}

.purple{
  background-color: purple;
}

.home{
  background-color: #c8ae33;
}

a:hover {
  background: linear-gradient(120deg, #fda085 0%, #c8ae33 100%);
  color: #309a1b;
}

.additional-css{
  border: 1px  purple ;
  border-radius: 0.5em;
  font-size: 1.5em;
  color: white;
}

#footer {
  padding: 3px;
  justify-content: space-evenly;
  position: static;
  bottom: 0;
  left: 0;
  background-color: orange;
  border-radius: 0.5em;
  border-color: darkred;
  border: 2px solid;
}